{% extends "base.html" %}
{% block body %}



<div class="container mx-auto pt-32">
    <form class="bg-white shadow p-4 px-24 lg:px-36 flex"  action="{{url_for('search')}}" method="get">
        <span class="w-auto flex justify-end items-center text-gray-500 p-2">
            <i class="material-icons text-3xl"></i>
        </span>
        <input class="w-full rounded p-2" placeholder="수업이름, 교수명, 회원아이디를 통해 검색하세요" type="text" name="q" id="q" required>
        <button class="bg-blue-400 hover:bg-blue-300 rounded text-white p-2 pl-4 pr-4">
                <p class="font-semibold text-xs"  type="submit">Search</p>
        </button>
    </form>
</div>

<div class="-my-2 pt-12 py-2 sm:-mx-6 sm:px-6 lg:-mx-8 pr-10 lg:px-8 lg:px-32 text-lg">
    <div class="align-middle inline-block min-w-full shadow bg-white shadow-dashboard px-8 pt-3 rounded-bl-lg rounded-br-lg">
        <table class="min-w-full">
            <thead>
                <tr>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left leading-4 text-blue-500 tracking-wider">Rank</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-md font-bold leading-4 text-blue-500 tracking-wider">Name</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-md font-bold leading-4 text-blue-500 tracking-wider">id</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-md font-bold leading-4 text-blue-500 tracking-wider">score</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300 text-left text-md font-bold leading-4 text-blue-500 tracking-wider">Status</th>
                    <th class="px-6 py-3 border-b-2 border-gray-300"></th>
                </tr>
            </thead>
            <tbody class="bg-white">
                {% for i in range(length) %}
                    <tr>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="flex items-center">
                                <div>
                                    <div class="text-sm font-semibold leading-5 text-gray-800">{{i+1}}등</div>
                                </div>
                            </div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-500">
                            <div class="text-sm font-semibold leading-5 text-blue-900">{{rank[i].username}}</div>
                        </td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm font-semibold leading-5">{{rank[i].userid[:8]}}...</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm font-semibold leading-5">{{rank[i].score|round(2)}}</td>
                        <td class="px-6 py-4 whitespace-no-wrap border-b text-blue-900 border-gray-500 text-sm font-semibold leading-5">
                            <span class="relative inline-block px-3 py-1 font-semibold text-blue-900 leading-tight">
                            <span aria-hidden class="absolute inset-0 bg-blue-300 opacity-50 rounded-full"></span>
                            <span class="relative text-xs">active</span>
                        </span>
                        </td>
                        <td class="py-4 whitespace-no-wrap text-right border-b border-gray-500 text-sm font-semibold leading-5">
                            <a href="{{url_for('user', userid=rank[i].userid)}}"><div class="px-5 py-2 border-blue-500 border text-blue-500 rounded transition duration-300 hover:bg-blue-700 v-10 hover:text-white focus:outline-none">유저 프로필 보기</div></a>
                        </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock body %}